# Build directories
/build/
/cmake-build-debug/

# CMake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Compiled binaries
*.exe
*.out
*.o

# Others
*.log
